<div class="bg-white" style="border-radius: 20px; width: 15em">

    <div class="row">
        <div class="col p-5">
            <img src="assets/pessoa.png" class="rounded-circle mx-auto d-block" style="height: 90px; width: 90px;" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="font-weight-bold text-center" style="margin:15px 0px 0px 0px;">Jacóbao</p>
            <p class="text-muted text-center" style="font-size: 12px" >Dev Leader</p>
        </div>
    </div>

    <div class="row">
            <div class="col">
                <p class="text-muted text-center" style="margin:12px 0px 0px 0px;font-size: 13px">MENTORIAS REALIZADAS</p>
                <p class="font-weight-bolder text-center" style="font-size: 15px" >52</p>
            </div>
        </div>
    <div class="row">
        <div class="col" style="padding: 0px 37px 0px 37px ">
            <img src="assets/Onfire.svg" class=" p-2" alt="">
            <img src="assets/Fast_Graduate.svg" class=" p-2" alt="">
            <img src="assets/Challenge_Medal.svg" class=" p-2" alt="">
            <img src="assets/Top_Student.svg" class=" p-2"alt="">
        </div>
    </div>
    <div class="row">
        <div class="col m-2">
            <button class="btn btn-success w-100"> Solicitar Mentoria </button>
        </div>
    </div>
</div>