
<div class="card-custom"  style="max-width: 18em;">
    <img src="assets/comida.jpg">
    <div class="cc-content">
        <div class="cc-title">
            varios teste pq sim
        </div>
        <div class="cc-body">
            <div class="row">
                <div class="col">
                    <label style="color: #4a2182;"><b>Editora</b></label>
                    <label class="separator"></label>
                    <label style="color: #92929d;">tags</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 float-left">
                        <label><img src="assets/modulo.svg" style="max-height: 20px;"></label><label style="color: #92929d;"> modulos</label>
                </div>
                <div class="col-md-7 float-left">
                        <label><img src="assets/aula.svg" style="max-height: 20px;"></label><label style="color: #92929d;"> 50 Min/Aula</label>
                </div>
            </div>
            
        </div>
    </div>

</div>